{% extends "base.html" %} {%block title%}Sign Up{%endblock%}

{%block content%}
<h3 align="center">SignUp</h3>

<div class="form-floating col-sm-8">
    <form action="/sign-up" method="POST">
        {{template_form.hidden_tag()}}
        <div class="row mb-0 ml-2">
            <p>{{template_form.email.label(class='form-label')}}
                {{template_form.email(class="form-control")}}
            </p>
        </div>
        <div class="row mb-0 ml-2">
            <p>
                {{template_form.username.label(class='form-label')}}
                {{template_form.username(class="form-control")}}
            </p>
        </div>
        <div class="row mb-0 ml-2">
            <p>
                {{template_form.password.label(class='form-label')}}
                {{template_form.password(class="form-control")}}
            </p>
        </div>
        <div class="row mb-0 ml-2">
            <p>
                {{template_form.confirm.label(class='form-label')}}
                {{template_form.confirm(class="form-control")}}
            </p>
        </div>
        <button class="btn btn-default"><input type="submit" value=SignUp></button>
    </form>
</div>

{%endblock%}